// .App_blue_theme {
//     --bg-color: #f4f5fb;
//     --inverted-bg-color: #010f69;
//     --primary-color: #010f69;
//     --secondary-color: #f4f5fb;
//     --inverted-primary-color: #f4f5fb;
//     --inverted-secondary-color: #012f42;
// }

.App_blue_theme {
    --bg-color: #01072c;
    --inverted-bg-color: #f4f5fb;
    --primary-color: #f4f5fb;
    --secondary-color: #bec6f3;
    --inverted-primary-color: #012f42;
    --inverted-secondary-color: #f4f5fb;

    // skeleton
    --skeleton-color: #1c274c;
    --skeleton-shadow: #1c274c;

    // code
    --code-bg: #1c274c;

    // card
    --card-bg: #030a3a;
}
