.App.dark {
    --bg-color: #313131;
    --inverted-bg-color: #fff;
    --primary-color: #ffe8ba;
    --secondary-color: #e8af1f;
    --inverted-primary-color: #003dba;
    --inverted-secondary-color: #1c274c;
}
