.App.light {
    --bg-color: #fff;
    --inverted-bg-color: #1f1f1f;
    --primary-color: #1c274c;
    --secondary-color: #003dba;
    --inverted-primary-color: #e8af1f;
    --inverted-secondary-color: #ffe8ba;
}
