.ArticleDetailsPage {
    width: 100%;
}

.commentTitle {
    margin-top: 24px;
}

.recommendations {
    padding: 10px;
    margin-top: 24px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
