@font-face {
    font-family: 'Roboto';
    // src: url('../fonts/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    // src: url('../fonts/Roboto-Medium.ttf') format('woff2');
    font-weight: 500;
}

:root {
    --font-family-main: 

    --font-size-m: 16px;
    --font-line-m: 24px;
    
    --font-size-l: 24px;
    --font-line-l: 32px;
}