.Dropdown {
    position: relative;
}

.button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.menu {
    position: absolute;
    z-index: 10000;
    background: var(--listbox-bg);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 20px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}
