.Card {
    padding: 15px;
    border-radius: 12px;
    background-color: var(--card-bg);
}

.normal {
    background-color: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

@media (max-width: 700px) {
    .Card {
        padding: 10px;
    }
}
